{% extends "index.html" %}

{% block content %}

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <!-- JavaScript Alert for Successful Registration -->
                  {% if registration_successful %}
                    <script>
                      alert("Registration successful!");
                    </script>
                  {% endif %}

                  <!-- Display Django messages -->
                  {% if messages %}
                    <div class="alert alert-success" role="alert">
                      {% for message in messages %}
                      
                        {{ message}}
                      {% endfor %}
                    </div>
                  {% endif %}

                  <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <a class="navbar-brand" href="#" style="margin-left:20px">
                        <img src="https://i.postimg.cc/qM34ymn6/Screenshot-2024-06-23-112137.png" alt="Logo" class="d-inline-block align-top">
                      </a>
                    </div>
              
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register new account</h5>
                    
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label">Name</label>
                      <input type="text" name="name" class="form-control form-control-lg" required />
                    </div>
              
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label">Email address</label>
                      <input type="email" class="form-control form-control-lg" name="email" required />
                    </div>
              
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label">Age</label>
                      <input type="number" class="form-control form-control-lg" name="age" required />
                    </div>
              
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label">Department</label>
                      <input type="text" class="form-control form-control-lg" name="dep" required />
                    </div>
              
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label">Password</label>
                      <input type="password" class="form-control form-control-lg" name="pass" required />
                    </div>
              
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                    </div>
              
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already Have an Account? <a href="{% url 'login' %}" class="small text-muted">Login</a></p>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
